.footer{
  min-height: rem(578px);
  width: 100%;  
  background-image: linear-gradient(to top, #142831, #14313e 98%);
  @include tablets{
    min-height: rem(716px);
  }
  @include phones{
    min-height: rem(780px);
  }
}
.footer__content{
  margin: 0 auto;
}
.footer__communication{
  margin-top: rem(119px);
  @include tablets{
    margin-top: rem(65px);
  }
  @include phones{
    margin-top: rem(75px);
  }
}
.footer__communication-list{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @include tablets{
    flex-wrap: wrap;
    width: 100%;
  }
}
.footer__communication-item{
  @include tablets{
    width: 50%;
    display: flex;
    justify-content: center;
    &:last-child{
      padding-top: 89px;
    }
  }
}
.footer__communication-link{
  width: rem(41px);
  height: rem(41px);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  &--mail{
    width: rem(38px);
    height: rem(30px);
  }
  &--telegram{
    width: rem(48px);
    height: rem(41px);
  }
}
.footer__communication-img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.footer__communication-text{
  padding-top: rem(20px);
  font-size: rem(18px);
  @include myriad(normal);
  color: #01b7ce;
  font-weight: 600;
  &--mail{
    padding-top: rem(24px);
  }
}

.footer__info{
  margin-top: rem(137px);
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-weight: 600;
  @include tablets{
    flex-direction: column;
    margin-top: rem(72px);
  }
}
.footer__logo{
  width: rem(174px);
  height: rem(20px);
}
.footer__logo-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer__logo-text{
  margin-top: rem(31px);
  font-size: rem(14px);
  @include myriad(normal);
  line-height: 2.14;
  color: #456073;
  text-align: left;
  font-weight: 600;
  @include tablets{
    margin-top: rem(25px);
  }
}
.footer__adress{
  @include tablets{
    margin-top: rem(104px);
  }
}
.footer__adress-title{
  font-size: rem(20px);
  @include myriad(normal);
  font-weight: 600;
  color:#fff;
  line-height: 2.1;
  letter-spacing: 2px;
}
.footer__adress-text{
  margin-top: rem(31px);
  font-size: rem(14px);
  @include myriad(normal);
  font-weight: 600;
  line-height: 2.14;
  color: #456073;
  text-align: left;
  @include tablets{
    margin-top: rem(20px);
  }
}
.footer__social{
  display: flex;
  align-items: flex-end;
  @include tablets{
    align-items: center;
    justify-content: center;
    margin-top: rem(60px);
  }
  @include phones{
    justify-content: flex-start;
  }
}
.footer__social-list{
  display: flex;
}
.footer__social-item{
  &:first-child{
    margin-left: 0;
  }
  margin-left: rem(17px);
  @include tablets{
    margin-left: rem(50px);
  }
  @include phones-small{
    margin-left: rem(34px);
  }
}
.footer__social-img{
  fill:#406178;
}
