.header{
  margin-top: rem(56px);
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  @include laptops{
    margin-top: rem(40px);
  }
  @include tablets{
    justify-content: space-between;
    margin-top: rem(67px);
  }
  @include phones-small{
    margin-top: rem(35px);
  }
}
.header__buttons{
  display: flex;
  margin-left: 5%;
  @include laptops{
    margin-left: 1%;
  }
  @include tablets{
    margin-left: rem(364px);
  }
  @include phones{
    margin-left: rem(54px);
  }
  @include phones-small{
    margin-left: rem(22px);
  }
}