.language{
  margin-left: 5%;
  display: flex;
  flex-shrink: 0;
  background: none;
  border: transparent;
  padding: 0;
  cursor: pointer;
  align-items: center;
  @include laptops{
    margin-left: 1%;
  }
  @include tablets{
    margin-left: rem(364px);
  }
  @include phones{
    margin-left: rem(198px);
  }
  @include phones-small{
    margin-left: rem(70px);
  }
}
.language__pic{
  width: 32px;
  height: 21px;
}
.language__pic-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}