.logo{
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logo__img{
  width: rem(349px);
  height: rem(39px);
  background: url('../images/logo.png');
  @include laptops{
    background: url('../images/logo_mobile.png');
    width: rem(192px);
    height: rem(21px);
  }
  @include tablets{
    width: rem(204px);
  }
  @include phones{
    width: rem(219px);
  }
  @include phones-small{
    width: rem(256px);
    height: rem(24px);
  }
}
.logo__img-pic{
  width: 100%;
  height: 100%;
}