.logo{
  display: flex;
  align-items: center;
  width: rem(349px);
  height: rem(39px);
  flex-shrink: 0;
  @include laptops{
    width: rem(284px);
  }
  @include phones{
    width: rem(192px);
    height: rem(21px);
  }
}
.logo__img{
  width: 100%;
  height: 100%;
}