.menu{
  margin-left: 12%;
  display: flex;
  align-items: center;
  @include laptops{
    margin-left: 1%;
  }
  @include tablets{
    position: absolute;
    margin: 0;
    top: 20%;
    left: 6%;
  }
  @include phones{
    left: 8%;
  }
  @include phones-small{
    left: 10%;
    top: 15%;
  }

}
.menu__list{
  display: flex;
}
.menu__item{
  &:first-child{
    margin-left: 0;
  }
  white-space: nowrap;
}
.menu__link{
  text-decoration: none;
  color:#fff;
  padding: 8px 15px;
  @include myriad(medium);
  border: 2px solid transparent;
  transition: border .3s;
  &:hover{
    border: 2px solid #00def9;
  }
  @include phones{
    font-size: rem(18px);
  }
  @include phones-small{
    font-size: rem(16px);
    padding: 5px 5px;
  }
}