.registration{
  background-color: #e7e9ea;
  min-height: rem(720px);
  @include tablets{
    min-height: rem(760px);
  }
  @include phones{
    min-height: rem(768px);
  }
  @include phones-small{
    min-height: rem(1072px);
  }
}

.registration__container{
  text-align: center;
}
.registration__content{
  position: relative;
}
.registration__desc{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: rem(110px);
  @include laptops{
    margin-top: rem(62px);
    font-size: rem(40px);
  }
  @include tablets{
    flex-direction: column;
    text-align: center;
  }
  @include phones{
    margin-top: rem(55px);
  }
  @include phones-small{
    margin-top: rem(38px);
  }
}
.registration__img{
  width: 88px;
  height: 72px;
  &::after{
    content: "";
    position: absolute;
    width: rem(133px);
    height: rem(4px);
    top: rem(100px);
    left: -25%;
    border-bottom: 4px solid #00bfd2;
    @include tablets{
      border: transparent;
    }
  }
  position: relative;
}
.registration__img-pic{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.registration__title{
  font-size: rem(50px);
  text-align: left;
  @include laptops{
    font-size: rem(40px);
  }
  @include phones{
    text-align: center;
  }
}
.registration__subtitle{
  font-size: rem(25px);
  margin-top: rem(40px);
  color: #010101;
  @include myriad(normal);
  margin-left: rem(49px);
  @include laptops{
    font-size: rem(22px);
  }
  @include tablets{
    margin-left: 0;
    margin-top: rem(29px);
  }
  @include phones{
    font-size: rem(20px);
  }
}
.registration__list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: rem(90px);
  @include laptops{
    margin-top: rem(115px);
  }
  @include tablets{
    margin-top: rem(55px);
    width: 100%;
    flex-wrap: wrap;
  }
  @include phones-small{
    margin-top: rem(28px);
    flex-direction: column;
  }
}

.registration__item{
  align-items: center;
  display: flex;
  flex-direction: column;
  @include tablets{
    width: 50%;
  }
}
.registration__text{
  font-size: rem(20px);
  margin-top: rem(60px);
  @include myriad(bold);
  text-transform: uppercase;
  color: #142831;
  letter-spacing: 2px;
  @include tablets{
    margin-top: rem(30px);
  }
  @include phones{
    font-size: rem(16px);
  }
}
.registration__button{
  margin: 0 auto;
  margin-top: rem(65px);
  padding: rem(18px) rem(25px);
  @include laptops{
    margin-top: rem(110px);
  }
  @include tablets{
    margin-top: rem(46px);
  }
  @include phones{
    margin-top: rem(51px);
  }
}