.slider{
  position: relative;
  display: none;
  margin-top: rem(166px);
  @include tablets{
    display: block;
  }
  @include phones{
    margin-top: 0;
  }
}

.slider__content-list{
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @include laptops{
    margin-left: rem(35px);
  }
  @include tablets{
    margin-left: 0;
    flex-wrap: nowrap;
  }
}
.slider__content-item{
  @include tablets{
    position: relative;
    transition: transform 0.6s ease;
    display: flex;
    justify-content: center;
  }
}
.slider__content-img{
  max-width: 80%;
  max-height: 80%;
  object-fit: cover;
}

.slider__button{
  display: none;
  @include tablets{
    width: rem(34px);
    height: rem(34px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    border: 5px solid #00bfd2;
    border-radius: 3px;
    border-top-color: transparent;
    border-right-color: transparent;
    background: transparent;
    z-index: 20;
    &-prev{
      left: 0;
      top: 50%;
      transform: rotate(45deg);
    }
    &-next{
      right: 0;
      top: 50%;
      transform: rotate(225deg);
    }
  }
}
