.statistic{
  background: url("../images/bg_screen_three.png") center center / cover no-repeat;
}
.statistic__container{
  min-height: rem(1091px);
  @include laptops{
    min-height: rem(947px);
  }
  @include phones{
    min-height: rem(870px);
  }
  @include phones-small{
    min-height: rem(928px);
  }
}

.statistic__list{
  margin: 0 auto;
  margin-top: rem(138px);
  @include laptops{
    margin-top: rem(90px);
  }
  @include tablets{
    margin-top: rem(108px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include phones{
    margin-top: rem(298px);
    flex-direction: column;
  }
  @include phones-small{
    margin-top: rem(358px);
  }
}
.statistic__item{
  display: flex;
  justify-content: space-evenly;
  text-align: center; 
  align-items: flex-end;
  margin-top: rem(55px);
  &:first-child{
    margin-top: 0;
  }
  &--border{
    border: solid 4px #00bfd2;
    padding: rem(87px) rem(87px) rem(97px) rem(42px);
    @include tablets{
      border: transparent;
      padding: 0;
    }
  }
  @include tablets{
    width: rem(273px);
    flex-direction: column;
    align-items: center;
    margin-top: rem(80px);
  }
  @include phones{
    height: rem(188px);
    width: rem(280px);
  }
}
.statistic__value{
  white-space: nowrap;
  font-size: rem(140px);
  line-height: 0.8;
  @include myriad(bold);
  color: #00def9;
  @include laptops{
    font-size: rem(100px);
  }
  @include tablets{
    padding-top:0;
    font-size: rem(60px);
  }
  @include phones{
    padding-top: rem(17px);
    font-size: rem(40px);
  }
  &--active{
    margin-left: rem(128px);
    @include tablets{
      margin-left: 0;
      order: 1;
    }
  }
}
.statistic__text{
  @include myriad(600);
  font-size: rem(30px);
  color:#fff;
  text-transform: uppercase;
  text-align: left;
  &--active{
    text-align: right;
    @include tablets{
      text-align:center;
      order: 2;
      padding-top: rem(45px);
    }
  }
  @include laptops{
    font-size: rem(24px);
  }
  @include tablets{
    font-size: rem(20px);
    padding-top: rem(45px);
    text-align:center;
  }
  @include phones{
    font-size: rem(14px); 
    padding-top: 0;
  }
}
.statistic__btn{
  display: flex;
  justify-content: center;
}
.statistic__button{
  margin-top: rem(130px);
  @include tablets{
    margin-top: rem(66px);
  }
  @include phones{
    margin-top: rem(2px);
  }
}